@model IEnumerable<Todo>

@{
    var status = Context.Request.Query["status"];
    string defaultClass = "bg-body-tertiary";
    string selectedClass = "active text-white bg-primary";
}

<partial name="_Notification" />

    <div class="card border-0">
        <div class="card-body bg-body-tertiary">
            <h1 class="card-title text-center text-black fw-bold">My Todos</h1>
            <div class="row pt-4 pb-2">
                <div class="col-6 d-flex">
                <ul class="list-group list-group-horizontal-sm">
                    <a asp-controller="Todo" asp-action="Index" asp-route-status="All" class="text-decoration-none text-dark">
                    <li class="list-group-item  @(string.IsNullOrEmpty(status) || status == "All" ? selectedClass : defaultClass)">All</li>
                    </a>
                    <a asp-controller="Todo" asp-action="Index" asp-route-status="Active" class="text-decoration-none text-dark">
                    <li class="list-group-item  @(status == "Active"  ? selectedClass : defaultClass)">Active</li>
                    </a>
                    <a asp-controller="Todo" asp-action="Index" asp-route-status="Todo" class="text-decoration-none text-dark">
                    <li class="list-group-item @(status == "Todo" ? selectedClass : defaultClass)">Todo</li>
                    </a>
                    <a asp-controller="Todo" asp-action="Index" asp-route-status="InProgress" class="text-decoration-none text-dark">
                    <li class="list-group-item @(status == "InProgress" ? selectedClass : defaultClass)">In Progress</li>
                    </a>
                    <a asp-controller="Todo" asp-action="Index" asp-route-status="Completed" class="text-decoration-none text-dark">
                    <li class="list-group-item @(status == "Completed" ? selectedClass : defaultClass)">Completed</li>
                    </a>
                </ul>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Todo" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-lg"></i> Add new task
                    </a>
                </div>
            </div>

            <table class="table table-hover mt-0">
                <thead>
                </thead>
                <tbody>
                    @foreach (var task in Model)
                    {
                        <partial name="_TaskPartial" model="task" />
                    }
                </tbody>
            </table>
        </div>
    </div>
