@model Todo

<tr class="table-light">
    <td class="bg-light-subtle">
        <a asp-controller="Todo" asp-action="Update" asp-route-todoId="@Model.Id" class="text-decoration-none">
            <strong style="font-size:18px"> @Model.Title </strong>
        </a>
        <br />
        <em class="text-secondary">
            @(Model.Description.Length > 40 ? Model.Description.Substring(0, 40) + "..." : Model.Description)
        </em>
    </td>
    <td class="bg-light-subtle text-center">
        <div class="dropdown">
            @if (Model.Status == Status.Completed)
            {
                <button class="btn btn-outline-success dropdown-toggle" type="button" id="statusDropdown-@Model.Id" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.Status
                </button>
                <ul class="dropdown-menu" aria-labelledby="statusDropdown-@Model.Id">
                    <li><a class="dropdown-item" onclick="updateStatus(@Model.Id, 'InProgress')">In Progress</a></li>
                    <li><a class="dropdown-item" onclick="updateStatus(@Model.Id, 'Todo')">Todo</a></li>
                </ul>
            }
            else if (Model.Status == Status.InProgress)
            {
                <button class="btn btn-outline-warning dropdown-toggle" type="button" id="statusDropdown-@Model.Id" data-bs-toggle="dropdown" aria-expanded="false">
                    In Progress
                </button>
                <ul class="dropdown-menu" aria-labelledby="statusDropdown-@Model.Id">
                    <li><a class="dropdown-item" onclick="updateStatus(@Model.Id, 'Completed')">Completed</a></li>
                    <li><a class="dropdown-item" onclick="updateStatus(@Model.Id, 'Todo')">Todo</a></li>
                </ul>
            }
            else
            {
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="statusDropdown-@Model.Id" data-bs-toggle="dropdown" aria-expanded="false">
                    @Model.Status
                </button>
                <ul class="dropdown-menu" aria-labelledby="statusDropdown-@Model.Id">
                    <li><a class="dropdown-item" onclick="updateStatus(@Model.Id, 'InProgress')">In Progress</a></li>
                    <li><a class="dropdown-item" onclick="updateStatus(@Model.Id, 'Completed')">Completed</a></li>
                </ul>
            }
        </div>
    </td>
    <td class="text-end bg-light-subtle text-body-tertiary">
        <em style="font-size:14px;">@Model.CreatedDate.ToShortTimeString()</em>
        <br />
        <em style="font-size:14px">@Model.CreatedDate.ToShortDateString()</em>
    </td>
</tr>
<tr class=" border-bottom: 1px solid #dee2e6"></tr>
