@model Todo

<tr class="table-light">
    <td class="bg-light-subtle">
        <a asp-controller="Todo" asp-action="Update" asp-route-todoId="@Model.Id" class="text-decoration-none">
            <strong style="font-size:18px"> @Model.Title </strong>
        </a>
        <br />
        <em class="text-secondary">
            @(Model.Description.Length > 40 ? Model.Description.Substring(0, 40) + "..." : Model.Description)
        </em>
    </td>
    <td class="bg-light-subtle text-center">
        <div class="dropdown">
            <form method="post" asp-controller="Todo" asp-action="UpdateStatus">
                <select name="status" class="@StatusToDisplayDesign(Model.Status)" onchange="this.form.submit()">
                    <option value="Todo" selected="@Model.Status == Status.Todo">Todo</option>
                    <option value="Completed" selected="@Model.Status == Status.Completed">Completed</option>
                    <option value="InProgress" selected="@Model.Status == Status.InProgress">In Progress</option>
                    <option hidden value=@StatusToDisplay(Model.Status) selected=@Model.Status>@StatusToDisplay(Model.Status) </option>
                </select>
                <input type="hidden" name="todoId" value="@Model.Id" />
            </form>
        </div>
    </td>
    <td class="text-end bg-light-subtle text-body-tertiary">
        <em style="font-size:14px;">@Model.CreatedDate.ToShortTimeString()</em>
        <br />
        <em style="font-size:14px">@Model.CreatedDate.ToShortDateString()</em>
    </td>
</tr>
<tr class="border-bottom"></tr>


@functions {
    public string StatusToDisplayDesign(Status status)
    {
        switch (status)
        {
            case Status.Completed:
                return "btn btn-outline-success dropdown-toggle";
            case Status.InProgress:
                return "btn btn-outline-warning dropdown-toggle";
            case Status.Todo:
                return "btn btn-outline-info dropdown-toggle";
            default:
                return "btn btn-outline-secondary dropdown-toggle";
        }
    }
}

@functions {
    public string StatusToDisplay(Status status)
    {
        switch (status)
        {
            case Status.Completed:
                return "Completed";
            case Status.InProgress:
                return "In Progress";
            case Status.Todo:
                return "Todo";
            default:
                return "Unknow";
        }
    }
}
